# ==============================================================================
# PulseChain Fork - .gitignore
# Auteur : Martial Zinsou (https://github.com/martialzinsou)
# ==============================================================================

# macOS
.DS_Store

# Binaries
pulsenoded
*.exe
*.test
*.out

# Data directories
data/
*.log

# Docker
.docker/
